* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001e4d;
}

.app {
    margin: 100px auto 0;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

.app h1 {
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid #222;
    padding-bottom: 40px;
}

.quiz {
    padding-top: 20px;
}

#question {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
}

button {
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid #222;
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.3s;
}

button:hover {
    background-color: #222;
    color: white;
}

#next-btn {
    background-color: #001e4d;
    color: WHITE;
    border: none;
    font-weight: 500;
    width: 150px;
    border-radius: 5px;
    margin: 20px auto 0;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    display: block;
    display: none;
}